body {
    background: linear-gradient(to top left, powderblue, pink);

}

.purple {
    color: purple;
}


#decoration {
    text-decoration: underline;
}

#shadow {
    text-shadow: #800080 1px 0 10px;
    ;
}

.border {

    border: 4px double black;
    background: rgba(135, 206, 235, 0.2);
    padding: 10px;
}

a:hover {
    background-color: #E6E6FA;
}